<div class="container">
  <div class="row my-5">
    <h2>ジャンル一覧</h2>
    <div class="ml-auto"><%= render 'layouts/public_search' %></div>
  </div>
  <div>
    <%= link_to "ジャンルを追加", new_admin_genre_path %>
  </div>
  
  <%= render 'public/genres/index', genres: @genres %>
  
</div>
